<div class="container pt-5">

  <div>
    <h1 class="title">{{title}}</h1>
  </div>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search stream" #input style="width: 80%;">
    <button class="btn btn-sm btn-primary" (click)="addStream()">
      Añadir streaming
    </button>
  </mat-form-field>
  <div class="mat-elevation-z8" #tref>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;"> # </th>
        <td mat-cell *matCellDef="let stream; index as i" style="width: 10%;"> {{stream.id}} </td>
      </ng-container>
      <ng-container matColumnDef="URL">
        <th class="width" mat-header-cell *matHeaderCellDef mat-sort-header> URL </th>
        <td class="width" mat-cell *matCellDef="let stream"> {{stream.url}} </td>
      </ng-container>
      <ng-container matColumnDef="Protocol">
        <th class="width" mat-header-cell *matHeaderCellDef mat-sort-header> Protocol </th>
        <td class="width" mat-cell *matCellDef="let stream"> {{(stream.protocol_id == 1) ? 'RTSP' : 'WebRTC'}} </td>
      </ng-container>
      <ng-container matColumnDef="Description">
        <th class="width" mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td class="width" mat-cell *matCellDef="let stream"> {{stream.description}} </td>
      </ng-container>
      <ng-container matColumnDef="Active">
        <th class="width" mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
        <td class="width" mat-cell *matCellDef="let stream"> {{stream.active }} </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let stream">
          <div class="d-flex">
            <button mat-icon-button matTooltip="Editar streaming" (click)="editStream(stream.id)">
              <mat-icon color="primary">edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Eliminar streaming">
              <mat-icon color="warn" style="width: 24px;" (click)="deleteStream(stream.id)">delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let stream; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
  </div>
</div>