<div class="container pt-5">
  <h1>Nueva cámara</h1>
  <form [formGroup]="cameraForm" #formDir="ngForm" (ngSubmit)="newCamera()" class="">
    <div class="row">
      <div class="col-md-6 col-12">
        <label for="Name" class="form-label">Name</label>
        <input type="text" class="form-control { 'is-invalid': submitted && f.username.errors } " required minlength="4"
          maxlength="50" formControlName="name">
        <div class="alert-danger" *ngIf="form.name.errors && (form.name.dirty || form.name.touched)">
          <div class="container-error-message" *ngIf="form.name.errors.required">
            Name is required
          </div>
          <div class="container-error-message" *ngIf="form.name.errors.minlength">
            Name must be at least 4 characters long.
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <label for="Reference" class="form-label">Reference</label>
        <input type="text" class="form-control" required minlength="4" maxlength="50" formControlName="reference">
        <div class="alert-danger" *ngIf="form.reference.errors && (form.reference.dirty || form.reference.touched)">
          <div class="container-error-message" *ngIf="form.reference.errors.required">
            Reference is required
          </div>
          <div class="container-error-message" *ngIf="form.reference.errors.minlength">
            Reference must be at least 4 characters long.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12">
        <label for="Host" class="form-label">Host</label>
        <input type="text" class="form-control" required minlength="1" min="0" maxlength="50" formControlName="host">
        <div class="alert-danger" *ngIf="form.host.errors && (form.host.dirty || form.host.touched)">
          <div class="container-error-message" *ngIf="form.host.errors.required">
            Host is required
          </div>
          <div class="container-error-message" *ngIf="form.host.errors.minlength">
            Host must be at least 4 characters long.
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <label for="Port" class="form-label">Port</label>
        <input type="number" class="form-control" required minlength="1" min="0" maxlength="50" formControlName="port">
        <div class="alert-danger" *ngIf="form.port.errors && (form.port.dirty || form.port.touched)">
          <div class="container-error-message" *ngIf="form.port.errors.required">
            Port is required
          </div>
          <div class="container-error-message" *ngIf="form.port.errors.minlength">
            Port must be at least 4 characters long.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12">
        <label for="Active" class="form-label">Active</label>
        <select class="form-control" formControlName="active">
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12">
        <label for="Protocol version" class="form-label">Protocol version</label>
        <input type="number" class="form-control" required min="1" minlength="1" maxlength="50"
          formControlName="version">
        <div class="alert-danger" *ngIf="form.version.errors && (form.version.dirty || form.version.touched)">
          <div class="container-error-message" *ngIf="form.version.errors.required">
            version is required
          </div>
          <div class="container-error-message" *ngIf="form.version.errors.minlength">
            version must be at least 4 characters long.
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <label for="Azimuth" class="form-label">Azimuth</label>
        <input type="number" class="form-control" required minlength="4" maxlength="50" formControlName="azimuth">
        <div class="alert-danger" *ngIf="form.azimuth.errors && (form.azimuth.dirty || form.azimuth.touched)">
          <div class="container-error-message" *ngIf="form.azimuth.errors.required">
            Azimuth is required
          </div>
          <div class="container-error-message" *ngIf="form.azimuth.errors.minlength">
            Azimuth must be at least 4 characters long.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12">
        <label for="Onvif user" class="form-label">Onvif user</label>
        <input type="text" class="form-control" required minlength="4" maxlength="50" formControlName="onvif_user">
        <div class="alert-danger" *ngIf="form.onvif_user.errors && (form.onvif_user.dirty || form.onvif_user.touched)">
          <div class="container-error-message" *ngIf="form.onvif_user.errors.required">
            onvif_user is required
          </div>
          <div class="container-error-message" *ngIf="form.onvif_user.errors.minlength">
            onvif_user must be at least 4 characters long.
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <label for="Onvif password" class="form-label">Onvif password</label>
        <input type="text" class="form-control" required minlength="4" maxlength="50" formControlName="onvif_pass">
        <div class="alert-danger" *ngIf="form.onvif_pass.errors && (form.onvif_pass.dirty || form.onvif_pass.touched)">
          <div class="container-error-message" *ngIf="form.onvif_pass.errors.required">
            Onvif_pass is required
          </div>
          <div class="container-error-message" *ngIf="form.onvif_pass.errors.minlength">
            Onvif_pass must be at least 4 characters long.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12">
        <label for="DD Latitude" class="form-label">DD Latitude</label>
        <input type="number" class="form-control" required maxlength="50" formControlName="dd_latitude">
        <div class="alert-danger"
          *ngIf="form.dd_latitude.errors && (form.dd_latitude.dirty || form.dd_latitude.touched)">
          <div class="container-error-message" *ngIf="form.dd_latitude.errors.required">
            Latitude is required
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <label for="DD Longitude" class="form-label">DD Longitude</label>
        <input type="number" class="form-control" required maxlength="50" formControlName="dd_longitude">
        <div class="alert-danger"
          *ngIf="form.dd_longitude.errors && (form.dd_longitude.dirty || form.dd_longitude.touched)">
          <div class="container-error-message" *ngIf="form.dd_longitude.errors.required">
            Longitude is required
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12">
        <label for="DDS Latitude" class="form-label">DDS Latitude</label>
        <input type="text" class="form-control" required maxlength="50" formControlName="dds_latitude">
        <div class="alert-danger"
          *ngIf="form.dds_latitude.errors && (form.dds_latitude.dirty || form.dds_latitude.touched)">
          <div class="container-error-message" *ngIf="form.dds_latitude.errors.required">
            DDS Latitude is required
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <label for="DDS Longitude" class="form-label">DDS Longitude</label>
        <input type="text" class="form-control" required maxlength="50" formControlName="dds_longitude">
        <div class="alert-danger"
          *ngIf="form.dds_longitude.errors && (form.dds_longitude.dirty || form.dds_longitude.touched)">
          <div class="container-error-message" *ngIf="form.dds_longitude.errors.required">
            DDS Longitude is required
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 pt-5 mb-3">
      <button type="submit" class="btn btn-primary" [disabled]="!formDir.form.valid">Guardar</button>
      <button class="btn btn-danger mx-5" (click)="closeForm()">Cancelar</button>
    </div>
  </form>
</div>