.my-toolbar {
  justify-content: end;
  background-color: white;
}

.logo {
  width: 100px;
  height: 50px;
}

.banner-logo {
  position: absolute;
  left: 50%;
  translate: -50%;
}

.my-mat-icons {
  font-size: 24px;
  padding: 5px;
  width: 34px;
  height: 34px;
}

.my-mat-buttons {
  padding: 0;
  min-width: 0;
}
