<mat-toolbar class="my-toolbar">
  <div class="banner-logo">
    <a href="http://qaisc.com/">
      <img src="assets/imgs/logo.png" alt="Logo" class="logo">
    </a>
  </div>
  <div>
    <button class="my-mat-buttons" (click)="goToCameras()" mat-stroked-button matTooltip="Lista de cámaras">
      <mat-icon class="my-mat-icons">dashboard</mat-icon>
    </button>
    <button class="my-mat-buttons" (click)="goToMap()" mat-stroked-button matTooltip="Ver mapa">
      <mat-icon class="my-mat-icons">map</mat-icon>
    </button>
    <button mat-stroked-button class="my-mat-buttons" matTooltip="Configuración">
      <mat-icon class=" my-mat-icons">settings</mat-icon>
    </button>
    <ng-template *ngIf="isLogin();else noSignIn"></ng-template>
    <ng-template *ngIf="!isLogin();else signIn"></ng-template>
    <ng-template #signIn>
      <button class="my-mat-buttons" (click)="onSignOut()" mat-stroked-button matTooltip="Cerrar sesión">
        <mat-icon class="my-mat-icons">logout</mat-icon>
      </button>
    </ng-template>
    <ng-template #noSignIn>
      <button class="my-mat-buttons" (click)="goToLogin()" mat-stroked-button matTooltip="Iniciar sesión">
        <mat-icon class="my-mat-icons">account_circle</mat-icon>
      </button>
    </ng-template>
  </div>
</mat-toolbar>