<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css"
  type="text/css" />
<div class="map-container">
  <div id="map">
    <div id="popup" class="ol-popup">
      <a id="popup-closer" class="ol-popup-closer"></a>
      <div id="popup-content"></div>
      <div id="cameraName" *ngIf="currentCamera">{{ currentCamera.name }}</div>
    </div>
  </div>
</div>
<div id='videoStreaming'></div>
<div id='dummy'></div>