table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td.width,
th.width {
  width: 20%;
}

.title {
  font-size: 50px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 20px;
}
