<div class="container pt-5">

  <div>
    <h1 class="title">{{title}}</h1>
  </div>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search camera" #input style="width: 80%;">
    <button class="btn btn-sm btn-primary" (click)="addCamera()">
      Añadir cámara
    </button>
  </mat-form-field>
  <div class="mat-elevation-z8" #tref>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;"> # </th>
        <td mat-cell *matCellDef="let camera; index as i" style="width: 10%;"> {{camera.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th class="width" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td class="width" mat-cell *matCellDef="let camera"> {{camera.name}} </td>
      </ng-container>
      <ng-container matColumnDef="host">
        <th class="width" mat-header-cell *matHeaderCellDef mat-sort-header> Host </th>
        <td class="width" mat-cell *matCellDef="let camera"> {{camera.host}} </td>
      </ng-container>
      <ng-container matColumnDef="port">
        <th class="width" mat-header-cell *matHeaderCellDef mat-sort-header> Port </th>
        <td class="width" mat-cell *matCellDef="let camera"> {{camera.port}} </td>
      </ng-container>
      <ng-container matColumnDef="active">
        <th class="width" mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
        <td class="width" mat-cell *matCellDef="let camera"> {{camera.active }} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let camera">
          <div class="d-flex">
            <button mat-icon-button matTooltip="Editar camara" (click)="editCamera(camera.id)">
              <mat-icon color="primary">edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Añadir streaming" (click)="addStreaming(camera.id)">
              <mat-icon>video_call</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Ver streaming" (click)="openStreaming(camera.id)">
              <mat-icon>videocam</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Eliminar camara">
              <mat-icon color="warn" style="width: 24px;" (click)="deleteCamera(camera.id)">delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let camera; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
  </div>
</div>