<div class="container pt-5">
  <h1>Añadir streaming</h1>
  <form [formGroup]="streamingForm" #formStreaming="ngForm" (ngSubmit)="onSubmit()" class="">
    <div class="form-group pt-3">
      <label for="protocol">Protocol</label>
      <select formControlName="protocol" class="form-control">
        <option value="1">RTSP</option>
        <option value="2" selected>WebRTC</option>
      </select>
      <div class="alert-danger" *ngIf="form.protocol.errors && (form.protocol.dirty || form.protocol.touched)">
        <div class="container-error-message" *ngIf="form.protocol.errors.required">Protocol is required</div>
      </div>
    </div>
    <div class="form-group pt-3">
      <label for="active">Active</label>
      <select formControlName="active" class="form-control">
        <option value="1">True</option>
        <option value="0">False</option>
      </select>
      <div class="alert-danger" *ngIf="form.active.errors && (form.active.dirty || form.active.touched)">
        <div class="container-error-message" *ngIf="form.active.errors.required">Active is required</div>
      </div>
    </div>
    <div class="form-group pt-3">
      <label for="url">URL</label>
      <input type="text" formControlName="url" class="form-control">
      <div class="alert-danger" *ngIf="form.url.errors && (form.url.dirty || form.url.touched)">
        <div class="container-error-message" *ngIf="form.url.errors.required">URL is required</div>
      </div>
    </div>
    <div class="form-group pt-3">
      <label for="url">Description</label>
      <input type="text" formControlName="description" class="form-control">
      <div class="alert-danger" *ngIf="form.description.errors && (form.description.dirty || form.description.touched)">
        <div class="container-error-message" *ngIf="form.description.errors.required">Description is required</div>
      </div>
    </div>
    <div class="form-group pt-3">
      <label for="url">User *</label>
      <input type="text" formControlName="user" class="form-control">
      <!-- <div class="alert-danger" *ngIf="form.user.errors && (form.user.dirty || form.user.touched)">
        <div class="container-error-message" *ngIf="form.user.errors.required">User is required</div>
      </div> -->
    </div>
    <div class="form-group pt-3">
      <label for="url">Password *</label>
      <input type="password" formControlName="password" class="form-control">
      <!-- <div class="alert-danger" *ngIf="form.password.errors && (form.password.dirty || form.password.touched)">
        <div class="container-error-message" *ngIf="form.password.errors.required">Password is required</div>
      </div> -->
    </div>
    <div class="form-group pt-3">
      <label for="url">Video URL</label>
      <input type="text" formControlName="video_url" class="form-control">
      <div class="alert-danger" *ngIf="form.video_url.errors && (form.video_url.dirty || form.video_url.touched)">
        <div class="container-error-message" *ngIf="form.video_url.errors.required">Video URL is required</div>
      </div>
    </div>
    <div class="form-group pt-3">
      <label for="">* Campos opcinales</label>
    </div>
    <div class="py-4 d-flex justify-content-end">
      <button type="submit" class="btn btn-primary" [disabled]="!formStreaming.form.valid">Guardar</button>
      <button class="btn btn-danger mx-5" (click)="closeForm()">Cancelar</button>
    </div>
  </form>
</div>