<div class="container-fluid px-0">
  <div class="row mx-0">
    <app-navbar class="px-0"></app-navbar>
  </div>
  <div class="row mx-0">
    <router-outlet class="px-0"></router-outlet>
  </div>
</div>