<div class="background">
  <div class="col-md-4 offset-md-4 mt-5">
    <div class="card">
      <h4 class="card-header">Login PORTUS</h4>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSignIn()">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && form.username.errors }" />
            <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
              <div *ngIf="form.username.errors.required">El nombre de usuario es requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
            <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
              <div *ngIf="form.password.errors.required">La contraseña es requerida</div>
            </div>
          </div>
          <div class="d-flex justify-content-center p-3">
            <button [disabled]="loading" class="btn btn-primary" style="width: 100%;">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Login
            </button>
          </div>
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
          <div class="card-footer">
            <div class="d-flex justify-content-center links">
              Don't have an account? <a href="/newUser">Sign Up</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>