<div class="col-md-4 offset-md-4 mt-5">
  <div class="card">
    <h4 class="card-header">Registro PORTUS</h4>
    <div class="card-body">
      <form [formGroup]="registerForm" #formRegister="ngForm" (ngSubmit)="onSignUp()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" formControlName="username" class="form-control">
          <div class="alert-danger" *ngIf="form.username.errors && (form.username.dirty || form.username.touched)">
            <div class="container-error-message" *ngIf="form.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" formControlName="email" class="form-control" />
          <div class="alert-danger" *ngIf="form.email.errors && (form.email.dirty || form.email.touched)">
            <div class="container-error-message" *ngIf="form.email.errors.required">Email is required</div>
            <div class="container-error-message" *ngIf="form.email.errors.pattern">Email format not valid</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control" />
          <div class="alert-danger" *ngIf="form.password.errors && (form.password.dirty || form.password.touched)">
            <div class="container-error-message" *ngIf="form.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="c_password">Confirm Password</label>
          <input type="password" formControlName="c_password" class="form-control" />
          <div class="alert-danger" *ngIf="form.c_password.errors && (form.c_password.dirty || form.c_password.touched)"
            class="invalid-feedback">
            <div class="container-error-message" *ngIf="form.c_password.errors.required">Password is required</div>
            <div class="container-error-message" *ngIf="form.c_password.errors.pattern"> Password & Confirm Password
              does not match.</div>
          </div>
        </div>
        <div class="d-flex justify-content-center p-3">
          <button [disabled]="!formRegister.form.valid" class="btn btn-primary">
            Registrase
          </button>
        </div>
      </form>
    </div>
  </div>
</div>