<div class="container pt-5">
  <div *ngIf="currentCamera">
    <h1>Editar cámara - {{currentCamera.name}}</h1>
    <form #todoForm="ngForm" (ngSubmit)="updateCamera()" class="">
      <div class="row">
        <div class="col-md-6 col-12">
          <label for="Name" class="form-label">Name</label>
          <input type="text" class="form-control" [(ngModel)]="currentCamera.name" name="name">
        </div>
        <div class="col-md-6 col-12">
          <label for="Reference" class="form-label">Reference</label>
          <input type="text" class="form-control" [(ngModel)]="currentCamera.reference" #reference name="reference">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <label for="Host" class="form-label">Host</label>
          <input type="text" class="form-control" aria-label="Host" [(ngModel)]="currentCamera.host" #host name="host">
        </div>
        <div class="col-md-6 col-12">
          <label for="Port" class="form-label">Port</label>
          <input type="text" class="form-control" aria-label="Port" [(ngModel)]="currentCamera.port" #port name="port">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <label for="Active" class="form-label">Active</label>
          <select class="form-control" [(ngModel)]="currentCamera.active" name="active">
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <label for="Protocol version" class="form-label">Protocol version</label>
          <input type="text" class="form-control" aria-label="Protocol version" [(ngModel)]="currentCamera.version"
            #version name="version">
        </div>
        <div class="col-md-6 col-12">
          <label for="Azimuth" class="form-label">Azimuth</label>
          <input type="text" class="form-control" aria-label="Azimuth" [(ngModel)]="currentCamera.azimuth" #azimuth
            name="azimuth">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <label for="Onvif user" class="form-label">Onvif user</label>
          <input type="text" class="form-control" aria-label="Onvif User" [(ngModel)]="currentCamera.onvif_user"
            #onvif_user name="onvif_user">
        </div>
        <div class="col-md-6 col-12">
          <label for="Onvif password" class="form-label">Onvif password</label>
          <input type="text" class="form-control" aria-label="Onvif Password" [(ngModel)]="currentCamera.onvif_pass"
            #onvif_pass name="onvif_pass">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <label for="DD Latitude" class="form-label">DD Latitude</label>
          <input type="text" class="form-control" aria-label="Onvif User" [(ngModel)]="currentCamera.dd_latitude"
            #dd_latitude name="dd_latitude">
        </div>
        <div class="col-md-6 col-12">
          <label for="DD Longitude" class="form-label">DD Longitude</label>
          <input type="text" class="form-control" aria-label="DD Longitude" [(ngModel)]="currentCamera.dd_longitude"
            #dd_longitude name="dd_longitude">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <label for="DDS Latitude" class="form-label">DDS Latitude</label>
          <input type="text" class="form-control" aria-label="DDS Latitude" [(ngModel)]="currentCamera.dds_latitude"
            #dds_latitude name="dds_latitude">
        </div>
        <div class="col-md-6 col-12">
          <label for="DDS Longitude" class="form-label">DDS Longitude</label>
          <input type="text" class="form-control" aria-label="DDS Longitude" [(ngModel)]="currentCamera.dds_longitude"
            #dds_longitude name="dds_longitude">
        </div>
      </div>
      <div class="col-12 pt-5 mb-3">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button class="btn btn-danger mx-5" (click)="closeForm()">Cancelar</button>
      </div>
    </form>
  </div>
</div>