<div class="container pt-5">
  <div *ngIf="currentStream">
    <h1>Editar streaming - {{currentStream.id}}</h1>
    <form #formStreaming="ngForm" (ngSubmit)="updateStream()" class="">
      <div class="form-group pt-3">
        <label for="url">Protocol</label>
        <select type="select" class="form-control" [(ngModel)]="currentStream.protocol_id" name="protocol_id">
          <option value="1">RTSP</option>
          <option value="2">WebRTC</option>
        </select>
        <div class="alert-danger" *ngIf="form.protocol.errors && (form.protocol.dirty || form.protocol.touched)">
          <div class="container-error-message" *ngIf="form.protocol.errors.required">Protocol is required</div>
        </div>
      </div>
      <div class="form-group pt-3">
        <label for="url">Active</label>
        <select class="form-control" [(ngModel)]="currentStream.active" name="active">
          <option value="1" [selected]>True</option>
          <option value="0" [selected]="currentStream.active == false">False</option>
        </select>
      </div>
      <div class="form-group pt-3">
        <label for="url">URL</label>
        <input type="text" class="form-control" [(ngModel)]="currentStream.url" name="url" #name>
        <div class="alert-danger" *ngIf="form.url.errors && (form.url.dirty || form.url.touched)">
          <div class="container-error-message" *ngIf="form.url.errors.required">URL is required</div>
        </div>
      </div>
      <div class="form-group pt-3">
        <label for="url">Description</label>
        <input type="text" class="form-control" [(ngModel)]="currentStream.description" name="description">
        <div class="alert-danger"
          *ngIf="form.description.errors && (form.description.dirty || form.description.touched)">
          <div class="container-error-message" *ngIf="form.description.errors.required">Description is required</div>
        </div>
      </div>
      <div class="form-group pt-3">
        <label for="url">User*</label>
        <input type="text" class="form-control" [(ngModel)]="currentStream.data.user" name="user">
        <!-- <div class="alert-danger" *ngIf="form.user.errors && (form.user.dirty || form.user.touched)">
          <div class="container-error-message" *ngIf="form.user.errors.required">User is required</div>
        </div> -->
      </div>
      <div class="form-group pt-3">
        <label for="url">Password*</label>
        <input type="text" class="form-control" [(ngModel)]="currentStream.data.password" name="password">
        <!-- <div class="alert-danger" *ngIf="form.password.errors && (form.password.dirty || form.password.touched)">
          <div class="container-error-message" *ngIf="form.password.errors.required">Password is required</div>
        </div> -->
      </div>
      <div class="form-group pt-3">
        <label for="url">Video URL</label>
        <input type="text" class="form-control" [(ngModel)]="currentStream.data.video_url" name="video_url">
        <div class="alert-danger" *ngIf="form.video_url.errors && (form.video_url.dirty || form.video_url.touched)">
          <div class="container-error-message" *ngIf="form.video_url.errors.required">Video URL is required</div>
        </div>
      </div>
      <div class="form-group pt-3">
        <label for="">* Campos opcinales</label>
      </div>
      <div class="py-4">
        <button type="submit" class="btn btn-primary" [disabled]="!formStreaming.form.valid">Guardar</button>
        <button class="btn btn-danger mx-5" (click)="closeForm()">Cancelar</button>
      </div>
    </form>
  </div>
</div>