.none {
  display: none;
}

.video-container {
  height: 90vh;
  height: calc(100vh - 68px);
  height: -moz-calc(100vh - 68px);
  overflow: hidden;
  position: relative;
  padding: 0px 1rem 0 0;
}

.grid-container {
  border: 2px solid #6c757d;
  border-radius: 0.3rem;
  padding: 15px;
}

.grid-camera-buttons {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px;
  grid-template-rows: 40px 40px 40px;
  grid-gap: 3px;
  justify-content: center;
}

.grid-item {
  width: 40px;
  height: 40px;
}

.button {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.25rem;
  cursor: pointer;
}

.button:hover {
  color: #fff;
  background-color: #343a40;
}

.cameraName {
  font-size: 2rem;
  background: #000000d4;
  color: white;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
}

.video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-video-options {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px;
  grid-gap: 3px;
  justify-content: center;
}

.my-mat-icons {
  font-size: 30px;
  padding: 5px 5px 5px 5px;
  width: 38px;
  height: 38px;
}

.my-mat-buttons {
  padding: 0;
  min-width: 0;
}

:focus {
  outline: none !important;
}
::-moz-focus-inner {
  border: 0 !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

.mat-slider-thumb-label-text {
  color: black;
}

.currentImageContainer {
  position: relative;
  color: white;
  margin-top: 30px;
}

.currentImageData {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #343a40;
}

.thumbnailsData {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #343a40;
  padding: 0.25rem;
  color: white;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modalVideo {
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  padding-top: 75px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content-video {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 800px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content-video,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

video::-webkit-media-controls,
video::-moz-media-controls,
video::-o-media-controls,
video::-ms-media-controls {
  display: none !important;
}

#SceneButton {
  margin: 1rem 0 0 1rem;
}

[class*="icono-arrow1"]{
  width: 20px;
  height: 20px;
  border-width: 4px 4px 0 0;
  border-style: solid;
  margin: 10px;
  &:before{
    right: 0;
    top: -3px;
    position: absolute;
    height: 4px;
    box-shadow: inset 0 0 0 32px;
    transform: rotate(-45deg);
    width: 23px;
    transform-origin: right top;
  }
  &[class*="-left"]{
    transform: rotate(45deg);
    &[class*="-up"]{
      transform: none;
    }
    &[class*="-down"]{
      transform: rotate(90deg);
    }
  }
}