<section class="container-fluid">
  <div class="row">
    <div class="video-container | col-lg-10 col-12">
      <video id="video" class="video" autoplay poster="assets/imgs/loading.gif"></video>
      <h1 *ngIf="currentCamera" class="cameraName">Cámara - {{ currentCamera.name }}</h1>
    </div>
    <div class="col-lg-2 col-12 pl-1 | grid-container">
      <div class="text-center">
        <h3>Controles de la cámara</h3>
      </div>
      <div class="grid-camera-buttons">
        <div class="grid-item">
          <button class="button" (mouseout)="mouseOutVerify()" (mouseup)="stopCamera('stop_move')"
            (mousedown)="moveCamera('continuous_move', -this.v, this.v, 0)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="2 2 12 12">
              <path fill-rule="evenodd"
                d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm10.096 8.803a.5.5 0 1 0 .707-.707L6.707 6h2.768a.5.5 0 1 0 0-1H5.5a.5.5 0 0 0-.5.5v3.975a.5.5 0 0 0 1 0V6.707l4.096 4.096z" />
            </svg>
          </button>
        </div>
        <div class="grid-item">
          <button class="button" (mouseout)="mouseOutVerify()" (mouseup)="stopCamera('stop_move')"
            (mousedown)="moveCamera('continuous_move', 0, this.v, 0)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="2 2 12 12">
              <path fill-rule="evenodd"
                d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
            </svg>
          </button>
        </div>
        <div class="grid-item">
          <button class="button" (mouseout)="mouseOutVerify()" (mouseup)="stopCamera('stop_move')"
            (mousedown)="moveCamera('continuous_move', this.v, this.v, 0)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="2 2 12 12">
              <path fill-rule="evenodd"
                d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z" />
            </svg>
          </button>
        </div>
        <div class="grid-item">
          <button class="button" (click)="zoomIn()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="-2 -2 20 20">
              <path fill-rule="evenodd"
                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
              <path
                d="M10.344 11.742c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1 6.538 6.538 0 0 1-1.398 1.4z" />
              <path fill-rule="evenodd"
                d="M6.5 3a.5.5 0 0 1 .5.5V6h2.5a.5.5 0 0 1 0 1H7v2.5a.5.5 0 0 1-1 0V7H3.5a.5.5 0 0 1 0-1H6V3.5a.5.5 0 0 1 .5-.5z" />
            </svg>
          </button>
        </div>
        <div class="grid-item">
          <button class="button" (mouseout)="mouseOutVerify()" (mouseup)="stopCamera('stop_move')"
            (mousedown)="moveCamera('continuous_move', -this.v, 0, 0)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="2 2 12 12">
              <path fill-rule="evenodd"
                d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg>
          </button>
        </div>
        <div class="grid-item">
          <button class="button" (mousedown)="stopCamera('stop_move')">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
              <path
                d="M5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5A1.5 1.5 0 0 1 5 3.5z" />
            </svg>
          </button>
        </div>
        <div class="grid-item">
          <button class="button" (mouseout)="mouseOutVerify()" (mouseup)="stopCamera('stop_move')"
            (mousedown)="moveCamera('continuous_move', this.v, 0, 0)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="2 2 12 12">
              <path fill-rule="evenodd"
                d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
            </svg>
          </button>
        </div>
        <div class="grid-item">
          <button class="button" (click)="zoomOut()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="-2 -2 20 20">
              <path fill-rule="evenodd"
                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
              <path
                d="M10.344 11.742c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1 6.538 6.538 0 0 1-1.398 1.4z" />
              <path fill-rule="evenodd" d="M3 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
            </svg>
          </button>
        </div>
        <div class="grid-item">
          <button class="button" (mouseout)="mouseOutVerify()" (mouseup)="stopCamera('stop_move')"
            (mousedown)="moveCamera('continuous_move', -this.v, -this.v, 0)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="2 2 12 12">
              <path fill-rule="evenodd"
                d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm10.096 3.146a.5.5 0 1 1 .707.708L6.707 9.95h2.768a.5.5 0 1 1 0 1H5.5a.5.5 0 0 1-.5-.5V6.475a.5.5 0 1 1 1 0v2.768l4.096-4.097z" />
            </svg>
          </button>
        </div>
        <div class="grid-item">
          <button class="button" (mouseout)="mouseOutVerify()" (mouseup)="stopCamera('stop_move')"
            (mousedown)="moveCamera('continuous_move', 0, -this.v, 0)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="2 2 12 12">
              <path fill-rule="evenodd"
                d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 2.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
            </svg>
          </button>
        </div>
        <div class="grid-item">
          <button class="button" (mouseout)="mouseOutVerify()" (mouseup)="stopCamera('stop_move')"
            (mousedown)="moveCamera('continuous_move', this.v, -this.v, 0)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="2 2 12 12">
              <path fill-rule="evenodd"
                d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.854 3.146a.5.5 0 1 0-.708.708L9.243 9.95H6.475a.5.5 0 1 0 0 1h3.975a.5.5 0 0 0 .5-.5V6.475a.5.5 0 1 0-1 0v2.768L5.854 5.146z" />
            </svg>
          </button>
        </div>
        <div class="grid-item">
          <button class="my-mat-buttons" mat-stroked-button [matMenuTriggerFor]="scenes" matTooltip="Ir a la escena"
            style="border: 1px solid black;">
            <mat-icon class="my-mat-icons">more_vert</mat-icon>
          </button>
          <mat-menu #scenes="matMenu" xPosition="before">
            <button mat-menu-item *ngFor="let position of positions"
              (click)="moveToScene('move', position.x, position.y, position.z)">{{position.name}}</button>
          </mat-menu>
        </div>
      </div>

      <div class="text-center pt-3">
        <h3>Opciones de video</h3>
      </div>
      <div class="grid-video-options">
        <div class="grid-item">
          <button id="record" class="my-mat-buttons" (click)="startRecording()" [disabled]="isRecording"
            mat-stroked-button matTooltip="Empezar grabación">
            <mat-icon class="my-mat-icons">fiber_manual_record</mat-icon>
          </button>
        </div>
        <div class="grid-item">
          <button id="record" class="my-mat-buttons" (click)="stopRecording()" [disabled]="!isRecording"
            mat-stroked-button matTooltip="Parar grabación">
            <mat-icon class="my-mat-icons">stop</mat-icon>
          </button>
        </div>
        <div class="grid-item">
          <button id="play" class="my-mat-buttons" (click)="playRecording()" [disabled]="!isFinishRecord"
            mat-stroked-button matTooltip="Reproducir grabación">
            <mat-icon class="my-mat-icons">play_arrow</mat-icon>
          </button>
        </div>
        <div class="grid-item">
          <button id="download" class="my-mat-buttons" (click)="downloadRecording()" [disabled]="!isFinishRecord"
            mat-stroked-button matTooltip="Descargar grabación">
            <mat-icon class="my-mat-icons">cloud_download</mat-icon>
          </button>
        </div>
      </div>
      <div class="text-center pt-3">
        <h3>Opciones del time-lapse</h3>
      </div>
      <div class="grid-video-options">
        <div class="grid-item">
          <button class="my-mat-buttons" mat-stroked-button [matMenuTriggerFor]="menu" matTooltip="Ver time-lapse">
            <mat-icon class="my-mat-icons">av_timer</mat-icon>
          </button>
          <mat-menu #menu="matMenu" yPosition="below">
            <button mat-menu-item *ngFor="let timelapse of timelapses"
              (click)="openModal(content, timelapse.task_id)">{{timelapse.name}}</button>
          </mat-menu>
        </div>
        <div class="grid-item">
          <button class="my-mat-buttons" (click)="takePicture()" mat-stroked-button matTooltip="Hacer captura">
            <mat-icon class="my-mat-icons">camera</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="myModal" class="modalVideo none">
      <span class="close" (click)="closeModalVideo()">&times;</span>
      <video id="recorded" class="modal-content-video" #recorded></video>
      <!-- <div id="caption"></div> -->
    </div>
  </div>
</section>
<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title" style="margin: 0;">Time-lapse - cámara - {{currentCamera.name}}</h1>
    <button mat-flat-button color="warn" aria-label="Close" (click)="modal.dismiss()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="currentImage">
      <div class="currentImageContainer mb-3">
        <img
          src="http://swift-controller.qaisc.local:8080/v1/AUTH_347ef83e20f94a8195243a944c13d87a/{{currentImage.container}}/{{currentImage.hash}}"
          alt="" style="width: 100%;">
        <div class="currentImageData p-3">
          <h1 style="margin: 0;">{{currentImage.taken_at | date:"dd/MM/yyyy H:mm z"}}</h1>
        </div>
      </div>
    </div>
    <carousel [cellsToScroll]="3" [lightDOM]="true">
      <ng-container *ngFor="let image of images">
        <div class="carousel-cell d-flex">
          <div class="align-self-center">
            <img
              src="http://swift-controller.qaisc.local:8080/v1/AUTH_347ef83e20f94a8195243a944c13d87a/{{image.container}}/{{image.hash}}"
              (click)="showImage(image)" draggable="false" ondragstart="return false;">
            <div class="thumbnailsData">
              <p style="margin: 0;">{{image.created_at | date:"dd/MM/yyyy H:mm z"}}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </carousel>
  </div>
</ng-template>